* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.popup-container {
  opacity: 0;
}

.cookie-poppupp {
  background-color: gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 2.5rem;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.cookie-poppupp p {
  color: #141414;
}
.cookie-close {
  display: inline;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cookie-close img {
  width: 2rem;
}

a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

.invisible {
  display: none;
}

.active-table {
  display: block; /*Ez flex volt*/
}

.active {
  transform: translatey(0);
  transition: transform 500ms ease-in-out;
}

.hide {
  display: none;
}

/*colours*/
:root {
  --main-text: #cecece;
  --main-bcitem: #cecece8e;
  --main-bcitemextra: red;
  --main-bcsecton: #141414;
  --main-bcnav: #141414a1;
}

/*font-family*/

@font-face {
  font-family: menuFont;
  src: url(../fonts/AmaticSC-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: titleFont;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: bold;
}

.text-style {
  color: var(--main-text);
  text-shadow: 3px 3px 7px black;
}

#portfolio h2,
#blog-post h2,
#video-post h2,
#services h2,
#contact h2 {
  font-size: 5rem;
  font-family: menuFont;
  letter-spacing: 0.3rem;
  text-align: center;
  text-shadow: 3px 3px 4px black;
}

.btn {
  padding: 10px 35px;
  background: transparent;
  background-color: rgba(128, 128, 128, 0.219);
  border: 1px solid white;
  color: #eeeeff;
  outline: none;
  transition: 0.6s ease;
  font-family: menuFont;
  font-size: 1.5rem;
  border-radius: 20px;
  margin-top: 2rem;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

.active-button {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

/*------------------------------------------------------------Header--------------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 58rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)),
    url(../img/klavi_bg_optimized.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----Nav------*/

.nav-menu {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--main-bcnav);
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

nav ul li a:hover {
  color: rgba(248, 248, 255, 0.288);
}

.list-item {
  color: #eeeeff;
  transition: all 0.5s ease;
  font-size: 2.3rem;
  font-family: menuFont;
}

#home h1 {
  font-family: menuFont;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  text-align: center;
  text-shadow: 3px 3px 4px black;
}

#home h2 {
  font-family: menuFont;
  font-size: 5rem;
  letter-spacing: 0.4rem;
  text-align: center;
}

/*-----About--------*/

#about {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 0rem;
  /*   outline: 2px solid whitesmoke; */
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.about-img {
  min-width: 353px;
  height: 415px;
  border-radius: 1.25rem;
  margin: 1rem;
}

.about-text {
  /*   background-color: gray; */
  font-size: 1.4rem;
  line-height: 180%;
  padding: 2rem;
  text-align: justify;
  font-family: titleFont;
  text-shadow: 3px 3px 4px black;
}

.text-git {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-shadow: 3px 3px 4px black;
  font-family: titleFont;
}
.text-git a {
  display: flex;
}

.text-git img {
  width: 3rem;
}

.skills {
  width: 90%;
  height: auto;
  margin: 2rem auto 4rem auto;
}

.skil-title {
  font-family: menuFont;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  margin: 1rem 0 1rem 4rem;
  text-shadow: 3px 3px 4px black;
}
.skills-logo {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 110px;
}

.skil-logo-img {
  width: 80%;
}

.skil-text {
  text-align: center;
  font-size: 1rem;
  font-family: titleFont;
}

/*-----Portfolio--------*/

#portfolio {
  margin-top: 8rem;
  padding: 5rem 0;
  min-height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
    url(../img/back.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  margin-bottom: 2rem;
}

.portfolio-container {
  width: 97%;
  margin: 0 auto;
  padding: 1rem 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.portfolio-item {
  background-color: var(--main-bcitem);
  max-width: 100%;
  width: 20rem;
  height: auto;
  border-radius: 25px;
  padding: 0.6rem;
}
.project-img {
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.project-title {
  color: var(--main-text);
  text-shadow: 1px 1px 2px black;
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.project-text {
  font-size: 1.2rem;
  text-align: start;
  margin-bottom: 1rem;
  line-height: 150%;
}

.project-icon ul {
  display: flex;
  list-style: none;
  gap: 1.4rem;
  justify-content: flex-end;
}

.bi-github,
.bi-globe2 {
  color: var(--main-text);
  font-size: 2rem;
  text-shadow: none;
}

.bi-github:hover,
.bi-globe2:hover {
  color: var(--main-bcsecton);
}

/*-----Blog Post--------*/

#blog-post {
  margin-top: 8rem;
  padding-top: 5rem;
  min-height: 55rem;
}

.blog-table {
  width: 96%;
  margin: 4rem auto;
  /* background-color: rgba(0, 0, 255, 0.507);  */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.post-table-item {
  width: 20rem;
  height: 28rem;
  background-color: var(--main-bcitem);
  border-radius: 25px;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.post-table-item h3 {
  color: var(--main-text);
  text-shadow: 2px 2px 3px black;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: menuFont;
  text-align: center;
}
.post-table-item h4 {
  color: var(--main-text);
  background-color: var(--main-bcsecton);
  padding: 0.2rem;
  text-shadow: 2px 2px 3px black;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

.post-table-item img {
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.post-table-item p {
  text-shadow: 2px 2px 3px black;
  font-family: titleFont;
  font-size: 1.2rem;
}

.read-button {
  display: flex;
  justify-content: flex-end;
}

.post-table-item a {
  font-family: menuFont;
  color: var(--main-text);
  background-color: var(--main-bcsecton);
  padding: 0.2rem;
  border-radius: 25px;
  width: 5rem;
  font-size: 1.3rem;
  text-align: center;
}

/*-----Video Post--------*/
#video-post {
  margin-top: 3rem;
  padding-top: 5rem;
  height: auto;
  margin-bottom: 4rem;
}

.video-table {
  width: 90%;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.video-item {
  max-width: 100%;
  width: 30rem;
  height: 20rem;
  background-color: var(--main-bcitem);
  border-radius: 25px;
  padding: 0.5rem;
}
.mrkocka-video {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

/*-----Services--------*/

#services {
  min-height: 60rem;
  padding: 5rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)),
    url(../img/black-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.services-table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 5rem;
}

.services-item {
  width: 20rem;
  height: 28rem;
  padding: 1rem;
  background-color: var(--main-bcitem);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-item h3 {
  color: var(--main-text);
  text-shadow: 2px 2px 3px black;
  text-transform: uppercase;
  font-family: menuFont;
  font-size: 3.5rem;
  text-align: center;
}

.services-item h4 {
  font-weight: bold;
  font-size: 2.2rem;
  text-align: center;
  color: #f57600;
  text-shadow: 2px 2px 3px black;
  font-family: titleFont;
}

.services-item p {
  text-shadow: 2px 2px 3px black;
  font-family: titleFont;
}

.services-item i {
  font-size: 9rem;
  color: var(--main-text);
  text-shadow: 2px 2px 3px black;
}

/*-----Contact--------*/

#contact {
  padding-top: 5rem;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
}

#contact h2 {
  margin-bottom: 4rem;
}

.contact-box {
  background-image: url(../img/massageBg.webp);
  width: 40rem;
  border-radius: 25px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
}

.form {
  width: 33rem;
  height: 35rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.input {
  width: 22rem;
  height: 3rem;
  font-family: titleFont;
}

textarea {
  width: 30rem;
  height: 10rem;
}

.input,
textarea {
  font-family: titleFont;
  font-size: 1.1rem;
  border-radius: 15px;
  border: none;
  padding: 0.4rem;
  background-color: var(--main-text);
  color: var(--main-bcsecton);
}

[type="submit"] {
  width: 130px;
}

/*-----Footer--------*/

footer {
  background-color: #262626;
  min-height: 15rem;
  display: flex;
  padding: 0.5em;
}

footer ul {
  list-style: none;
}

footer a,
p {
  text-decoration: none;
  color: var(--main-text);
}

footer section {
  width: 33.33%;
  padding: 0.3rem;
}

.center-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.soc-icon {
  display: flex;
  justify-content: center;
  width: 100%;
}
.soc-icon-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

.soc-icon-list img {
  width: 2.5rem;
}

.add-box-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-box a {
  font-size: 1.5rem;
  text-shadow: 3px 3px 4px black;
}

.add-box img {
  width: 1.4rem;
}

.logo-box img {
  width: 150px;
}

footer p {
  font-size: 0.6rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  text-shadow: 3px 3px 4px black;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.footer-nav-list li {
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  font-family: menuFont;
  letter-spacing: 0.2rem;
  text-shadow: 3px 3px 4px black;
}

.footer-nav-list li a:hover {
  color: rgba(248, 248, 255, 0.288);
}

/*------------------text-table--------------------*/
/*TODO szabály kell a sütik a tag-jeihez*/

.text-table {
  background-color: var(--main-bcitem);
  width: 94%;
  margin: -15rem auto 4rem auto;
  padding: 1.3rem 8rem;
  border-radius: 15px;
}

.cookie-text {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: titleFont;
  text-shadow: 2px 2px 4px black;
  margin: 1rem 0;
}
.cookie-title {
  font-family: menuFont;
  color: var(--main-text);
  font-size: 2.2rem;
  text-shadow: 2px 2px 4px black;
}

.text-table h2 {
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}
.cookie-list {
  margin-left: 3rem;
  line-height: 180%;
}

.cookie-list li {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: titleFont;
  text-shadow: 2px 2px 4px black;
  color: var(--main-text);
}
.cookie-specbox {
  padding-left: 6rem;
}

/*--------------------------------------------------------------------------Respanzive mode-----------------------------------------------------------------------------*/

@media only screen and (max-width: 1360px) {
  /*-----About--------*/

  .about-text {
    font-size: 1.4rem;
    text-align: start;
  }

  /*-----Blog Post--------*/

  .post-table-item {
    width: 25rem;
    height: 28rem;
  }
}

@media only screen and (max-width: 1119px) {
  /*-----Video Post--------*/

  .video-table {
    width: 100%;
  }
}

@media only screen and (max-width: 1094px) {
  /*-----About--------*/
  .about-container {
    flex-direction: column;
  }
  .portfolio-item {
    width: 25rem;  /*25*/
    /*     height: 15rem; */
  }

  .project-text {
    font-size: 1rem;
  }

  /*-----Video Post--------*/
  .video-item {
    width: 25rem;
    height: 15rem;
  }

  /*-----Services--------*/

  .services-table {
    gap: 2rem;
  }

  .services-item {
    width: 20rem;
    height: 28rem;
  }

  /*-----Footer--------*/

  .soc-icon-list {
    gap: 2rem;
  }

  .add-box a {
    font-size: 1.2rem;
  }

  .footer-nav-list li {
    font-size: 1.1rem;
  }

  footer p {
    letter-spacing: 0.2rem;
  }
}

@media only screen and (max-width: 970px) {
  .nav-menu {
    justify-content: flex-end;
    background-color: var(--main-bcsecton);
  }

  nav ul {
    background-color: var(--main-bcsecton);
    position: absolute;
    width: 100%;
    padding: 1rem;
    top: 4.8rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    z-index: -1;
    transform: translatey(-45rem);
    transition: transform 500ms ease-in-out;
  }

  .list-item {
    letter-spacing: 0.2rem;
  }

  .hmenu-button {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.3rem;
    background-color: rgba(255, 255, 255, 0.699);
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    margin-right: 2rem;
  }

  .hmenu-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  }
}

@media only screen and (max-width: 920px) {
  #home h1 {
    letter-spacing: 0.3rem;
  }

  #home h2 {
    letter-spacing: 0.3rem;
    font-size: 4rem;
  }

  /*-----Blog Post--------*/

  .post-table-item {
    width: 20rem;
    height: 28rem;
  }

  .webpage-table,
  .webapp-table,
  .grafik-table {
    gap: 1rem;
  }

  /*-----Video Post--------*/

  .video-table {
    gap: 1rem;
  }

  /*-----Footer--------*/

  footer {
    flex-direction: column;
  }

  .logo-box {
    width: 100%;
    text-align: center;
    order: 1;
  }

  .center-box {
    width: 100%;
    gap: 2rem;
    order: 2;
  }

  .footer-nav {
    width: 100%;
  }
}

@media only screen and (max-width: 820px) {
  /*-----Portfolio--------*/
  .portfolio-item {
    width: 15rem;
    /*     height: 10rem; */
  }

  .project-text {
    line-height: 110%;
  }

  /*-----Video Post--------*/

  .video-item {
    width: 15rem;
    height: 10rem;
  }

  .services-table :last-child {
    width: 90%;
  }
}

@media only screen and (max-width: 750px) {
  /*-----Portfolio--------*/
  .webpage-table,
  .webapp-table,
  .grafik-table {
    gap: 1.5rem;
  }

  .portfolio-item {
    width: 18rem;
    /*   height: 12rem; */
  }

  /*-----Video Post--------*/
  .video-table {
    gap: 1.5rem;
  }

  .video-item {
    width: 18rem;
    height: 12rem;
  }

  /*-----Blog Post--------*/
  .post-table-item {
    width: 18rem;
    height: 25rem;
  }

  /*-----Contact--------*/

  .contact-box {
    background-image: url(../img/massageBg.webp);
    border-radius: 25px;
    margin: 0 auto;
    padding: 1rem;
  }
}

@media only screen and (max-width: 685px) {
  #home h1 {
    letter-spacing: 0.3rem;
    font-size: 5rem;
  }

  #home h2 {
    letter-spacing: 0.3rem;
    font-size: 3rem;
  }

  /*-----Blog Post--------*/

  .post-table-item {
    width: 29rem;
    height: 35rem;
  }

  /*-----Video Post--------*/

  .video-item {
    width: 18rem;
    height: 12rem;
  }

  /*-----Services--------*/

  .services-item {
    width: 90%;
  }

  .contact-box {
    width: 35rem;
  }
}

@media only screen and (max-width: 640px) {
  /*-----Portfolio--------*/

  .portfolio-item {
    width: 30rem;
    /*   height: 20rem; */
  }

  .project-text {
    font-size: 1.2rem;
    line-height: 150%;
  }

  /*-----Blog Post--------*/

  .post-table-item {
    width: 29rem;
    height: 35rem;
  }

  /*-----Video Post--------*/

  .video-item {
    width: 30rem;
    height: 20rem;
  }

  .contact-box {
    width: 30rem;
  }
  textarea {
    width: 25rem;
  }
}

@media only screen and (max-width: 530px) {
  /*TODO a portfolio résznél nem jó a gombok reszponzivitása ebben a méretben!*/
  .hero {
    height: 43rem;
  }

  #home h1 {
    font-size: 4rem;
  }

  #home h2 {
    font-size: 1.4rem;
  }

  #portfolio h2,
  #blog-post h2,
  #video-post h2,
  #services h2,
  #contact h2 {
    letter-spacing: 0.1rem;
    font-size: 4rem;
  }

  .about-text {
    font-size: 1.2rem;
    padding: 0.1rem;
  }

  .text-git a {
    display: none;
  }

  /*-----Portfolio--------*/

  .portfolio-button-list {
    gap: 0.5rem;
  }

  .portfolio-button {
    width: 6rem;
    display: flex;
    justify-content: center;
  }

  .portfolio-item {
    width: 20rem;
    /*   height: 12rem; */
  }

  #blog-post {
    margin-top: 2rem;
  }
  .post-table-item {
    height: 28rem;
  }

  .project-text {
    font-size: 1rem;
    line-height: 150%;
  }

  /*-----Video Post--------*/

  .video-item {
    width: 20rem;
    height: 12rem;
  }

  /*-----Contact--------*/

  .contact-box {
    width: 21rem;
  }

  .input {
    width: 16rem;
  }

  textarea {
    width: 18rem;
  }
}

/*-------------------------------------------------------------------------------Animacio--------------------------------------------------------------------------------*/

.services-item:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
